*.dat
*.cor
*.tab
__pycache__/
*.pyc
*.venv
*_xs_*.txt
*_xs_*.csv
site/
*.log
.DS_STORE
.thicc/
.tess/
condor_logs/
*.err
*.out
*.job
calc_xs_condor.sh
*condor*
Figures/
figures/
outputs/
calc_xs_parallel.py
talys_mc_parallel.py
convert_reduced_to_partial_widths.py
*.job
plot_xs.py
integrated_xs_all.png
*.png
*.pdf
res_test/
*.in
plot_gamow_integrand.py
talys_opt/
plot_xs_ratio.py
plot_talys_results.py
